.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .project {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
  }
  
  .project h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .project a {
    color: #110e33;
    text-decoration: none;
    font-weight: bold;
  }
  
  .project a:hover {
    text-decoration: underline;
  }
  